.MainDiv{

    display: flex;
    position: relative;
    flex-direction: row;
    height: 100px;
    gap:10px;
   
}

.Area{

    width: max-content;
    height: 100%;
    border : 1px solid black;
    display: flex;

}

.SecondDiv{

    display: flex;
    flex-direction: column;
}
.Wimage{

    max-width: 150px;
    max-height: 150px;

}
